body{
    font-style: italic;
    margin: 0;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

.nav{
    background-color: #006aff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 2px;
    margin-top: 0;
  }
.nav ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
  }
.nav ul li{
    padding:0 15px;
}

.Question-list{
    justify-content: center;
    /* margin: 0; */
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    width : 70%;
    /* border: 2px solid; */
    
}
.Question{
    width: 100%;
    box-shadow: 5px 10px 5px #d1cfcf;
    height: 100px;
    /* max-height: 150px; */
    /* height: fit-content; */
    margin-bottom :30px;
    /* display: ; */
}

.Question ul{
    display: flex;
    justify-content:space-around;
    list-style-type: none;
}


a{
    text-decoration: none;
    color: #fff;
}
a:hover {color: #638def;}
.Question-list a{
    text-decoration: none;
    color: black;
}
.Question-list a:hover {font-size:120%;}





.hide{
    display: none;
}

.Question-view{
    justify-content: center;
    /* margin: 0; */
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    width : 70%;
    box-shadow: 5px 10px 5px #d1cfcf;
    padding: 20px;
}
/* CSS */

.submit{
    margin:50px;
    margin-left: 450px;
}

.left{
    align-items: left
}

.right{
    align-items: right
}

.login{
    /* display: flex;
    align-items: center; */
    width: 35%;
    /* margin-top:4rem;
    margin-left: 3rem; */
    margin:auto;
    margin-top: 3rem;
    border: 3px solid #f1f1f1;
    background-color: rgb(255, 255, 255);
}
.login label{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: larger;
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    font-weight: bolder;
}
.login input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login button{
    width: 100%;
    background-color: #4273e4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight:bold;
}
.login button:hover{
    background-color: #004cff;
}
.login h1{
    text-align: center;
    /* font-size: larger;
    margin-top: 5px; */
}

.container{
    width:80%;
    box-shadow: 20px 20px 50px grey;
    /* height: 100%; */
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: #fff;
    margin-top: 80px;
    align-items: center;
    margin-left: 170px;
    
  }
  .language-option{
      display: flex;
      flex-direction: row;
      align-items: left;
      width: 90%;
      height: fit-content;
      background-color: #fff;
      padding: 0px;
      /* border: #006aff solid 1px; */
      margin-top: 10px;
      margin-left: 15px;
      
  }
  
  
  
  .header {
    /* background: #cdd1cd; */
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 4px;
    font-family: sans-serif;
    width: 100%;
    margin: 10px;
    margin-left: 15px;
    /* text-shadow: 1px 1px 2px rgb(251, 248, 248), 0 0 25px rgb(166, 165, 165), 0 0 5px rgb(106, 106, 106); */
  }
  
  
  
  #editor { height: 400px; }
  
  .button-container {
      text-align: right;
      padding: 4px;
  }
  
  .btn {
      background: #eeefee;
      color: rgb(91, 121, 255);
      padding: 8px;
      border: 0;
      font-weight: bold;
      font-size: larger;
  }
  
  .output {
    padding: 4px;
    /* border: 2px solid gray; */
    min-height: 100px;
    width: 99%;
    resize: none;
  
  }

.footer{
    width: 80%;
    margin: auto;
    margin-left: 170px;
}

.input{
    
    width:100%;
    align-items: left;
}
textarea{
    resize: none;
}

.output{
    width:100%;
    align-items: right;
    margin-bottom: 20px;
    border: none;
}

.Question-title ul{
    display: flex;
    justify-content:space-around;
    list-style-type: none;
}

.Question-title ul li{
    padding:0 15px;
}