{% extends 'main.html' %}
{% load static%}

{% block content%}
<div class="nav">
    <ul class = 'left'>
        <li><i class="fa fa-square" style="font-size:40px;color:rgb(255, 255, 255)">OnlineJudge</i></li>
        <li><a href= '{% url "home"%}'><h3>Home</h3></a></li>
    </ul>
    <ul class="right">
        <li><a href= '{% url "logout"%}'><h3>Logout</h3></a></li>
        <!-- <li><a href= '{% url "register"%}'><h3>Register</h3></a></li> -->
        
    </ul>
</div>
<div class="container">
    <div class="header">IDE for Online Judge</div>
    <div class="language-option">
            <label for="languages">Choose a Language :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select id="languages" class="languages" onchange="changeLanguage()">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
    </div>

    <div class="editor" id="editor"></div>

    <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run Code</button>
    </div>

</div>
<div class="output"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{%static 'js/lib/ace.js'%}"></script>
<script src="{%static 'js/lib/theme-twilight.js'%}"></script>
<script>

    let editor;
    // const element = document.getElementById("editor");
    // console.log(element)
    document.getElementById('editor').style.fontSize='16px';
    window.onload = function() {
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.session.setMode("ace/mode/c_cpp");
    }
    
    console.log("Hello World!");
    
    
    function changeLanguage() {
    
        let language = $("#languages").val();
    
        if(language == 'c' || language == 'cpp')editor.session.setMode("ace/mode/c_cpp");
        else if(language == 'python')editor.session.setMode("ace/mode/python");
        else if(language == 'javascipt')editor.session.setMode("ace/mode/javascript");
    }
    
    
    function executeCode() {
    
        $.ajax({
    
            url: "http://127.0.0.1:8000/api/v1/code-post",
    
            method: "POST",
    
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "language": $("#languages").val(),
                "code": editor.getSession().getValue(),
                "problem_id": {{problem_id}},
                "user_id": {{user_id}},
            },

            success: function(response) {
                $(".output").text(response)
            }
    
            
        })
    }
</script>

{%endblock%}