{% extends 'main.html' %}



{% block content %}
<div class="nav">
        <ul class = 'left'>
            <li><i class="fa fa-square" style="font-size:40px;color:rgb(255, 255, 255)">OnlineJudge</i></li>
        </ul>
        <ul class="right">
            <li><a href= '{% url "login"%}'><h3>Login</h3></a></li>
            <li><a href= '{% url "register"%}'><h3>Register</h3></a></li>

        </ul>
    </div>
<form action="" class= 'login' method = "POST">
    {% csrf_token %}
    <h1>REGISTER</h1>
    {{form.username.label}}
    {{form.username}}
    {{form.email.label}}
    {{form.email}}
    {{form.password1.label}}
    {{form.password1}}
    {{form.password2.label}}
    {{form.password2}}
    {{form.submit}}
    <button type="submit">SUBMIT</button>
    <p>{{form.errors}}</p>
</form> 
{% endblock %}